body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    background-color: rgb(45, 146, 146);
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 7%;  
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 600;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}
p{
    color: #8f8f8f;
}
/*navigation bar*/
.navbar{
    padding: 0 0 4.5rem;  
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: lighter;
}
.nav-link:hover {
    color: black;
}


/*download button*/
.download-button{
    margin: 5% 3% 5% 0; 
}

/*title image*/
.title-image{
    width: 20%;
   /* rotate: 30deg;*/
   transform: rotate(25deg);
   position: absolute;
   right: 25%;
}

/* feature section*/

#features{
    padding: 7% 15%; 
    background-color: #fff;
    position: relative;
}
.feature-box{
    text-align: center;
    padding: 5%;
}

.font-awesome-icon{
    color: rgb(104, 209, 207);
    margin-bottom: 1rem;
}

.font-awesome-icon:hover{
    color: rgb(45, 146, 146);
}


/*testomonial section*/
#testimonials{
    text-align: center;
    background-color:rgb(104, 209, 207) ;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
     width: 10%;
     border-radius: 100%;  
     margin: 20px;
}

/* press section*/
#press{
    background-color:rgb(104, 209, 207) ;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;

}
/* pricing section*/
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

/* cta section*/
#cta {
    background-color: rgb(104, 209, 207);
    text-align: center;
    padding: 7% 15% ;
}
.cta-h2 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
}

/* footer section */
#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15% ;
}
.footer-icons {
    padding: 3% 1%;

}
.footer-icons:hover {
    color: rgb(45, 146, 146);
}

/* media query*/
@media (max-width: 991px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}
